<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <label for="username">Введите логин</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        Некорректный логин
    </div>
    <br/>
    <label for="password">Введите пароль</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        Некорректный пароль
    </div>
    <br/>
    <label for="fullName">Введите ФИО</label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <br/>
    <label for="salary">Введите зарплату</label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br/>
    <label for="role">Выберете роль</label>
    <select path="role" th:field="*{role}" id="role">
        <option value="ROLE_ADMIN">Администратор</option>
        <option value="ROLE_USER">Пользователь</option>
        <option value="ROLE_SUPERVISOR">Руководитель</option>
    </select>
    <br/>
    <input type="submit" value="Зарегистрировать"/>
</form>
</body>
</html>